* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: "Quattrocento Sans", sans-serif;
  width: 1300px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

header {
  width: 100%;
  height: 80px;
  padding: 5px;
  background: #071435;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #071435;
  color: white;
  z-index: 1;
  width: 100%;
  height: 100%;
}

#menu {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  font-size: 1.2rem;
  align-items: center;
}

#menu li a:hover {
  color: #41b57d;
}

#burgerMenu {
  display: none;
}

.brand-title {
  font-size: 1.9rem;
  list-style: none;
  color: white;
}

main {
  display: flex;
  position: relative;
  width: 100%;
  height: 1200px;
  background-color: #e0e0e0;
  border: 1px solid gray;
  padding: 5px;
  flex-direction: column;
  justify-content: space-around;
}

.banner {
  display: flex;
  position: relative;
  width: 100%;
  height: 40%;
  background-color: #c4c4c4;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid gray;
  margin-bottom: 5px;
  border-radius: 10px;
}

.banner h1 {
  position: absolute;
  color: #071435;
  font-size: 6rem;
  top: 16%;
  left: 6%;
  animation: slide-in;
  animation-timing-function: ease-out;
  animation-duration: 2S;
}

@keyframes slide-in {
  0% {
    left: -50%;
  }

  25% {}

  50% {}

  100% {
    left: 6%
  }

}

.banner h2 {
  position: absolute;
  color: white;
  font-size: 4rem;
  top: 45%;
  left: 6%;
  animation-name: slideinup;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
}

@keyframes slideinup {
  0% {
    top: 107%
  }

  25% {}

  50% {}

  100% {
    top: 45%
  }

}

.banner-head {
  width: 55%;
  height: 90%;
}

.drone-cont {
  width: 30%;
  height: 90%;
  background: #f0f0f0;
  border-radius: 50%;
}

.drone {
  position: relative;
  height: 90%;
  width: 100%;
}

.drone img {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: Levitation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.banner .circle-drone-bg img {
  position: absolute;
  width: 166%;
  height: 138%;
  right: -19%;
  top: -9%;
  animation: Levitation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes Levitation {
  0% {
    top: -9%;
  }

  50% {
    top: -5%;
  }

  100% {
    top: -9%;
  }
}



.categories {
  height: 590px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 5%;
}

.drones-cont {
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  grid-area: 1 / 1 / 2 / 2;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: white;
  color: #071435;
}

.laptopes-cont {
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  grid-area: 1 / 2 / 2 / 3;
  align-items: center;
  background: white;
  justify-content: center;
  color: #071435;
}

.consoles-cont {
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  grid-area: 2 / 1 / 3 / 3;
  align-items: center;
  background: white;
  justify-content: space-around;
  color: #071435;
}

.mobiles-cont {
  display: flex;
  border: 1px solid gray;
  border-radius: 10px;
  grid-area: 1 / 3 / 3 / 4;
  justify-content: center;
  align-items: center;
  background: white;
  color: #071435;
}

.drones-cont:hover,
.laptopes-cont:hover,
.consoles-cont:hover,
.mobiles-cont:hover {
  background: #ebebeb;
  cursor: pointer;
}


.pic-cont-drones {
  position: relative;
  height: 90%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic-cont-drones img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.pic-cont-lapetops {
  position: relative;
  height: 90%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic-cont-lapetops img {
  position: absolute;
  width: 83%;
  height: 66%;
}

.pic-cont-consoles {
  position: relative;
  height: 90%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic-cont-consoles img {
  position: absolute;
  width: 52%;
  height: 91%;
}

.pic-cont-mobiles {
  position: relative;
  height: 90%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic-cont-mobiles img {
  position: absolute;
  width: 60%;
  height: 70%;
}


.text-cont {
  height: 90%;
  width: 25%;
  font-size: 1.9rem;
}


footer {
  height: 300px;
  background-color: #071435;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-us {
  display: inline-block;
  color: #8691a7;
  border-right: solid 1px;
  padding-right: 3%;
}

.contact-us h3 {
  margin-bottom: 3%;
}

.follow-us {
  display: inline-block;
  width: 29%;
  color: #8691a7;
  padding: -8px;
  border-right: solid 1px;
  margin-left: 3%;
}

.follow-us h4 {
  margin-top: 2px;
}

.follow-us img {
  width: 12%;
  padding: 0%;
  filter: none;
  margin-right: 6%;
  margin-top: 3%;
}

.follow-us img:hover {
  filter: invert(1);
}

/* PAGES STYLE */




#itemCounter {
  position: absolute;
  background: #ff5555;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #071435;
  font-size: 21px;
  font-weight: 900;
  height: 31%;
  width: 28px;
  text-align: center;
  top: 13%;
  right: 131px;
}

.fa-shopping-cart {
  content: "\f07a";
  font-size: 1.7rem;
  position: relative;
}

.products {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products h1 {
  display: inline-block;
  border-bottom: 2px solid black;
  margin-top: 47px;
  font-size: 3rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #d5d5d5;
  max-height: 1034px;
  overflow: scroll;
  justify-content: center;
  align-items: center;
}

.card {
  height: 400px;
  width: 270px;
  border: 1px solid;
  background-color: white;
  margin: 12px 12px 12px 0px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 4px;
  justify-content: space-evenly;
}

.card:hover {
  box-shadow: 2px 3px 14px gray;
  transition: 0.5s;
}

.card .image {
  width: 100%;
  height: 50%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
}

.card .details {
  display: flex;
  height: 30%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3px;
}

.card .details h4 {
  font-size: 1.3rem;
}

.card .details p {
  font-size: 1.1rem;
  color: #4e4e4e;
}

.card-bottom {
  display: flex;
  width: 100%;
  height: 10%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-bottom button {
  background-color: #2ab050;
  border-radius: 2px;
  color: white;
  padding: 7px;
  cursor: pointer;
}

.card-bottom .delete-button {
  background-color: #b02a2a;
}

.card-bottom {
  font-size: 23px;
}


/* responsive: */
/* pages */



/* @media only screen and (min-width: 600px) and (max-width: 963px) {
  #cards-container .card {
    width: 28%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
  #cards-container .card {
    width: 40%;
  }
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  #cards-container .card {
    width: 60%;
    margin-left: 74px;
  }
} */




/* nav&footer */
/* @media only screen and (max-width: 561px) {
  .navbar ul {
    position: absolute;
    right: 0;
    top: 53px;
    padding: 0;
    margin: 0;
    background-color: #071435;
    display: initial;
  }

  .navbar ul li {
    margin-top: 10px;
    margin-left: 0px;
  }

  .navbar ul.hide-menu {
    display: none;
  }

  .fa-shopping-cart:before {
    content: "\f07a";
    position: absolute;
    top: -14px;
    right: -17px;
  }

  #itemCounter {
    display: none;
    right: 34px;
    top: 222px;
  }

  i.fas.fa-bars {
    user-select: none;
    display: block;
  }

  .contact-us {
    display: block;
    color: #8691a7;
    padding-right: 3%;
    text-align: center;
  }

  .follow-us {
    display: block;
    color: #8691a7;
    width: initial;
    padding: -8px;
    margin-left: 0;
    margin-top: 14px;
    text-align: center;
  }

  .follow-us img {
    width: 7%;
  }


}

@media only screen and (min-width: 561px) and (max-width: 728px) {
  .navbar ul li {
    padding: 19px;
    margin: 1px 0px 1px 1px;
  }
}

 */






/* ------------------- Media-Query ----------------------------------- */


/* ******* MOBILE ******* */

@media only screen and (max-width : 600px) {
  .responsive-nav {
    background: #071435;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    width: 100%;
    height: 250px;
    right: 0;
  }

  .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    font-size: 1.6rem;
    list-style: none;
  }

  .fa-shopping-cart {
    font-size: none;
  }

  #menu {
    display: none;
  }

  .banner-head {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .banner h1 {
    font-size: 4.6rem;
  }

  #burgerMenu {
    display: block;
    font-size: 2rem;
  }

  .drone-cont {
    display: none;
  }

  .categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 4px;
  }

  .drones-cont {
    grid-area: 1 / 1 / 2 / 2;
  }

  .laptopes-cont {
    grid-area: 2 / 1 / 3 / 2;
  }

  .consoles-cont {
    grid-area: 3 / 1 / 4 / 2;
  }

  .mobiles-cont {
    grid-area: 4 / 1 / 5 / 2;
  }

  .pic-cont-drones,
  .pic-cont-lapetops,
  .pic-cont-consoles,
  .pic-cont-mobiles {
    display: none;
  }

  .text-cont {
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
}



/* ******* TABLET ******* */

@media only screen and (max-width : 768px) {}



/* ******* LAPTOP ******* */


@media only screen and (max-width : 1200px) {}



























































/* 
.categories {
  position: relative;
  width: 100%;
  height: 60%;
  background-color: #ffe2e2;
}
.Drones-cat {
  position: absolute;
  border-radius: 2%;
  background-color: #ffffff;
  height: 45%;
  width: 36%;
  top: 2%;
  left: 2%;
}

.Drones-cat h3 {
  position: absolute;
  font-size: 34px;
  color: #071435;
  top: 10%;
  right: 41%;
}

.Drones-cat img {
  position: absolute;
  width: 63%;
  top: 13%;
  left: 13%;
}
.Drones-cat:hover {
  box-shadow: 2px 3px 14px rgb(52 52 52);
  transition: 0.5s;
  filter: brightness(0.8);
}

.computers-cat {
  position: absolute;
  border-radius: 2%;
  background-color: #ffffff;
  width: 30%;
  height: 45%;
  left: 39%;
  top: 2%;
}

.computers-cat h3 {
  position: absolute;
  font-size: 34px;
  color: #071435;
  top: 6%;
  right: 50%;
}

.computers-cat img {
  position: absolute;
  width: 80%;
  top: 29%;
  left: 2%;
}
.computers-cat:hover {
  box-shadow: 2px 3px 14px rgb(52 52 52);
  transition: 0.5s;
  filter: brightness(0.8);
}

.Consoles-cat {
  position: absolute;
  border-radius: 2%;
  background-color: #ffffff;
  width: 67%;
  height: 29%;
  left: 2%;
  top: 49%;
}

.Consoles-cat h3 {
  position: absolute;
  font-size: 34px;
  color: #071435;
  top: 36%;
  right: 47%;
}

.Consoles-cat img {
  position: absolute;
  width: 28%;
  bottom: -15%;
  left: 71%;
}
.Consoles-cat:hover {
  box-shadow: 2px 3px 14px rgb(52 52 52);
  transition: 0.5s;
  filter: brightness(0.8);
}

.Mobiles-cat {
  position: absolute;
  border-radius: 2%;
  background-color: #ffffff;
  width: 28%;
  height: 76%;
  left: 70%;
  top: 2%;
}

.Mobiles-cat h3 {
  position: absolute;
  font-size: 34px;
  color: #071435;
  top: 6%;
  right: 15%;
}

.Mobiles-cat img {
  position: absolute;
  width: 54%;
  bottom: 5%;
  left: 27%;
}
.Mobiles-cat:hover {
  box-shadow: 2px 3px 14px rgb(52 52 52);
  transition: 0.5s;
  filter: brightness(0.8);
} */





/* after */

/* nav&footer */
/* @media only screen and (max-width: 561px) {
  .navbar ul {
    position: absolute;
    right: 0;
    top: 51px;
    padding: 0;
    margin: 0;
    background-color: #071435;
    display: initial;
  }
  .navbar ul li {
    margin-top: 10px;
    margin-left: 0px;
  }
  .navbar ul.hide-menu {
    display: none;
  }
  #cart-icon:before {
    content: "\f07a";
    position: absolute;
    top: -14px;
    right: -17px;
  }
  #itemCounter {
    display: none;
  }
  i.fas.fa-bars {
    user-select: none;
    display: block;
  }
  .contact-us {
    display: block;
    color: #8691a7;
    padding-right: 3%;
  }
  .follow-us {
    display: block;
    color: #8691a7;
    width: initial;
    padding: -8px;
    border-right: none;
    margin-left: 0;
    margin-top: 14px;
  }
  .follow-us img {
    width: 7%;
  }
  footer {
    height: auto;
  }
}
@media only screen and (min-width: 561px) and (max-width: 728px) {
  .navbar ul li {
    padding: 19px;
    margin: 1px 0px 1px 1px;
  }
}
 */

/* home-page */
/* 
@media only screen and (min-width: 320px) and (max-width: 553px) {
  .banner .circle-drone-bg img {
    display: none;
  }
  .banner h1 {
    font-size: 4rem;
    top: 27%;
  }
  .banner h2 {
    font-size: 3rem;
    top: 51%;
  }

  .circle-drone-bg {
    display: none;
  }
}

 @media only screen and (min-width: 553px) and (max-width: 733px) {
    .banner h1 {
      font-size: 4rem;
    }
    .banner h2 {
      font-size: 3rem;
    }
  } 

 @media only screen and (min-width: 733px) and (max-width: 850px) {
    .banner h1 {
      font-size: 5rem;
    }
  } 

@media only screen and (min-width: 320px) and (max-width: 730px) {
  .Drones-cat {
    position: absolute;
    border-radius: 2%;
    background-color: #ffffff;
    height: 20%;
    width: 96%;
    top: 2%;
    left: 2%;
  }
  .Drones-cat img {
    display: none;
  }
  .Drones-cat h3 {
    text-align: center;
  }
  .computers-cat {
    width: 96%;
    height: 22%;
    left: 2%;
    top: 24%;
  }
  .computers-cat h3 {
    top: 26%;
    right: 40%;
  }
  .computers-cat img {
    display: none;
  }
  .Consoles-cat img {
    display: none;
  }
  .Consoles-cat {
    position: absolute;
    border-radius: 2%;
    background-color: #ffffff;
    width: 96%;
    height: 21%;
    left: 2%;
    top: 48%;
  }
  .Consoles-cat h3 {
    top: 28%;
    right: 28%;
  }

  .Mobiles-cat {
    width: 96%;
    height: 22%;
    left: 2%;
    top: 71%;
  }
  .Mobiles-cat h3 {
    text-align: center;
    top: 30%;
    right: 42%;
  }
  .Mobiles-cat img {
    display: none;
  }
} */